<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>VUUVV</title>
	<script src="http://ui.operamasks.org/website/resources/common/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/css/reset.css" class="css" />
	<link rel="stylesheet" href="/static/css/layout.css" class="css" />
	<link rel="stylesheet" href="/static/css/nav.css" class="css" />
</head>
<style type="text/css">

</style>
<body>
	<div class="page">
		{% include 'header.html' %}
		<div class="container">
			<div class="content">
			</div>
		</div>
		{% include 'footer.html' %}
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function() {
		$("#main-nav li.nav-item").hover(function(e) {
			$(this).addClass("hover");
		}, function(e) {
			$(this).removeClass("hover");
		});
	})
</script>
