.page {
	position: relative;
}

.header {
	margin: 0 auto;
	position: relative;
	height: 98px;
}

.header ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.header a {
	text-decoration: none;
}

.content {
	padding: 12px 0 0;
	position: relative;
	z-index: 10;
}

