#global-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#global-nav ul {
	margin: 10px 0 0 0;
	overflow: hidden;
}

#global-nav li {
	border-left: 1px solid #cbcbcb;
	float: left;
	line-height: 10px;
	padding: 0 7px;
}

#global-nav li a {
	color: #b0b0b0;
	display: block;
	font-size: 12px;
	line-height: 15px;
}

#logo {
	position: absolute;
	top: 15px;
	background: url("images/logo.png") repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 42px;
	line-height: 99em;
	overflow: hidden;
	width: 140px;
}

#main-nav {
	position: relative;
	height: 40px;
	top: 80px;
}

#main-nav1 {
    background: url("images/navigation-item-background.png") repeat-x scroll left bottom transparent;
    height: 43px;
    position: relative;
    z-index: 50;
	top: 80px;
	border: none;
}

#main-nav1 .ui-menubar-item {
	background: url("images/navigation-item-background.png") repeat-x scroll left bottom transparent;
	float: left;
	height: 100%;
	position: relative;
}

#main-nav li.left-most {
	background: url("images/mosaic-homebutton.png") repeat scroll -2px -46px transparent;
}

#main-nav li.right-most {
	background: none repeat scroll 0 50% transparent;
	float: right;
}

#main-nav li.right-most p {
	background: url("images/navigation-last-button-cap.png") no-repeat scroll 100% 100% transparent !important;
}

#main-nav li p {
	float: left;
	height: 100%;
}

#main-nav1 .ui-menubar-link {
	background: url("images/separator-separator.png") no-repeat scroll right top transparent;
	color: #303030;
	font: bold 17px/36px Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	height: 39px;
	padding: 0px 15px 0px;
	position: relative;
	float: left;
	display: block;
}

#main-nav li a span {
	padding-bottom: 12px;
	text-align: center;
}

#main-nav .submenu {
	display: none;
}

#searchbox {
	background: url("images/search-icon.png") no-repeat scroll 4px 50% #FFFFFF;
	border: 1px solid #CFCFCF;
	color: #393939;
	opacity: 0.6;
	position: relative;
	width: 117px;
	height: 22px;
	line-height: 22px;
	left: 15px;
	padding-left: 20px;
}

